/** @format */
@font-face {
  font-family: "Roboto";
  src: url("../../font/roboto/Roboto-Regular.ttf");
  font-weight: normal;
}


* {
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: Roboto;
  margin: 0px;
  padding: 0px;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100px;
}
