/** @format */

.card {
  width: 400px;
  height: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 4px var(--black_box_shadow),
    0px 8px 16px var(--black_box_shadow);
  border-radius: 10px;
  background-color: var(--white_2);
}

.header-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  text-align: center;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--gray_border_2);
}
.header-title,
.header-caption {
  color: var(--black_text_1);
}
.header-title {
  font-size: 25px;
  font-weight: bold;
}
.header-caption {
  font-size: 15px;
  font-weight: 300;
}
.form-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.container-input {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-input > input,
.container-input > textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--gray_border_2);
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  font-weight: normal;
  color: var(--black_text_1);
  letter-spacing: 0.2px;
}

input:focus,
textarea:focus {
  border: 1.5px solid var(--blue_1);
  box-shadow: 0 0 0 2px var(--white_3);
  caret-color: var(--blue_1);
}

input::placeholder,
textarea::placeholder {
  color: var(--gray_placeholder);
  font-size: 14px;
  font-weight: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.button-form {
  width: 100%;
  height: 45px;
  margin-top: 5px;
  border: none;
  background: var(--blue_1);
  border-radius: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--white_2);
  letter-spacing: 00.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-delete-account {
  background-color: var(--black_text_1);
  font-weight: 500;
}
.button-delete-account:hover {
  background-color: var(--black_text_1) !important;
}
.button-form:hover {
  background-color: var(--blue_2);
}

.footer-card {
  text-align: center;
  border-top: 1px solid var(--gray_border_2);
  padding-top: 16px;
  padding-bottom: 10px;
}
.footer-card > a {
  text-decoration: none;
  color: var(--blue_1);
  font-size: 16px;
}
.footer-card > a:hover {
  text-decoration: underline;
}

.line-form-admin {
  width: 100%;
  height: 1.6px;
  background-color: var(--black_text_1);
}

@media (min-width: 300px) and (max-width: 400px) {
  .card {
    width: 330px;
  }
}
