/** @format */

.section-info-payment-dateway,
.card-info-payment-dateway {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.card-info-payment-dateway {
  width: auto;
  margin-top: 0px;
  row-gap: 10px;
  column-gap: 50px;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.card-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.card-info > .title {
  font-size: 18px;
  font-weight: 600;
  color: var(--black_text_1);
  align-items: flex-start;
}
