/** @format */

.header {
	width: 100%;
	min-height: 80px;
	background-color: var(--blue_1);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 50px;
}

.header > i {
	font-size: 35px;
	color: var(--white_2);
}

.conten-logo-user {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 50px;
}

.logo-link {
	letter-spacing: 0.5px;

	color: #fff;
	font-size: 30px;

	font-weight: bolder;
}

.conteiner-user-name {
	font-size: 20px;
	color: var(--white_1);
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 300px) and (max-width: 800px) {
	.conten-logo-user {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: auto;
		row-gap: 10px;
		padding: 10px;
	}
	.conteiner-user-name {
		font-size: 17px;
	}
}
