/** @format */

.conteniner-menu {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 50px;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.item-menu {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.link-header {
  color: var(--white_1);
}

.lateral-bar {
  width: 3px;
  height: 40px;
  border-radius: 3px;
}

.focus-bar {
  background-color: var(--white_1);
}

.focus-link {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.icon-header {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.conteiner-shopping-car {
  position: relative;
}

.counter-courses-add {
  position: absolute;
  top: -10px;
  color: var(--white_1);
}

.show-cart {
  display: block;
}

@media (min-width: 300px) and (max-width: 800px) {
  .conteniner-menu {
    width: 100%;
    height: auto;
    top: 81px;
    right: 0px;
    background-color: var(--blue_1);
    padding: 10px;
  }
}
