/** @format */

.modal-payment-loader {
	width: 100%;
	height: 100vh;
	background-color: #ffffff8f;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	display: none;
	z-index: 10000;
}
.show-payment-loader {
	display: block;
}

.disguise-courses_payment-info-payment {
	display: none;
}
