/** @format */

.section-questions {
  width: 80%;
  height: auto;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}
.section-questions-title {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}
.quetion-card {
  width: auto;
  padding: 20px;
  background: var(--white_1);
  box-shadow: 0px 2px 4px var(--black_box_shadow),
    0px 8px 16px var(--black_box_shadow);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.question-title {
  font-weight: bold;
  font-size: 20px;
}
